body{
    padding: 02px;
    margin: 0px;
}
.background{
    background-image: url(images/image.jpg);
    background-size: cover;
    height: 500px;
    position: center;
}
h1{
    color: grey;
    font-size:xx-large;
    box-shadow: goldenrod;
    padding-left: 7px;
}
h2{
    text-align: center;
    font-size: 50px;
    color: goldenrod;
    border-color: indigo;
    box-shadow: ivory;
    box-sizing: border-box;
}
p{   color: grey;
    font-size:40px;
    text-align: center;
    box-shadow: goldenrod;
    padding-left: 7px;

}
img{
    height: 550px;
    width: 550px;
    padding: 70px;
    border-radius: 50%;
    
}
.half-width{
    float: left;
    text-align: center;
    width: 40%;
   padding: 10px; 
}